<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ quiz.quiz_name }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/assignment.css') }}">
    </head>
    <body>
        {% include 'sidebar.html' %}
        <a href="{{ url_for('views.course_page', course_id=course_id) }}" class="back-button">Back</a>

        <main>
            <h1>{{ quiz.quiz_name }}</h1>
                <form class="quiz-form" method="POST" action="/submit_quiz">
                {% if already_submitted %}
                    <h4>You have already submitted this quiz</h4>
                {% else %}
                    {% for question in questions %}
                        <div class="question">
                            <p class="question-text">{{ loop.index }}. {{ question.question_text }}</p>
                            <div class="options">
                                <label>
                                    <input type="radio" required name="{{ question.id }}" value="{{ question.option1 }}">
                                    {{ question.option1 }}
                                </label>
                                <label>
                                    <input type="radio" required name="{{ question.id }}" value="{{ question.option2 }}">
                                    {{ question.option2 }}
                                </label>
                                <label>
                                    <input type="radio" required name="{{ question.id }}" value="{{ question.option3 }}">
                                    {{ question.option3 }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}

                    <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
                    {% if current_user.user_type == 'student' %}
                        <input type="hidden" name="course_id" value="{{ course_id }}">
                        <button type="submit" class="submit-quiz">Submit Answers</button>
                    {% endif %}
                {% endif %}
                </form>
        </main>

        <script>
            if ("{{ current_user.user_type }}" !== "student") {
                var radioButtons = $('input[type="radio"]').each(function(radioButton) {
                    radioButton.disabled = true;
                });
            }
        </script>
    </body>
</html>